body {
  font-family: "Cabin", sans-serif;
  color: white;
  text-align: left;
  background-color: black;
}

body * {
  /* border: 1px solid green; */
  box-sizing: border-box;
}
.img-sm {
  width: 2rem;
}
header * {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.bg-black {
  background-color: black;
}
.line {
  border-top: 2px solid #0dcaf0;
}
